@model Simplified_School_Portal.Models.Info_request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Info_request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Info_requestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
